<div class="figure">
  <div [ngClass]="type"></div>
  <span class="figure__name">{{ type }}</span>
  <span class="figure__data">{{ figure.print() }}</span>
  <span class="figure__area">{{ figure.getArea() }}</span>
</div>
