.figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .square {
    width: 80px;
    height: 80px;
    background-color: #4E598C;
  }

  .circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #FF8C42;
  }

  .triangle {
    width: 0;
    height: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-bottom: 70px solid #FCE762;
  }
}
